/* General Rules */
:root {
  --main-cl: #fff;
  --main-bg: #2BB673;
  --sec-bg: #DBDEE4;
  --black: #434e54;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 1px solid #333
}

html,
body {
  background-color: var(--main-bg);
  color: var(--main-cl);
  font-family: 'Cairo', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

i {
  padding: 5px;
}

button {
  border: none;
  background-color: var(--main-bg);
  color: var(--main-cl);
}

img {
  max-width: 100%;
}

/* End General Rules  */

/* Header Rules  */

header {
  padding: 0.6rem 0.25rem;
}

header * {
  outline: none
}

header h1 {
  display: inline-block;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 500;
}

header button {
  float: right;
}

header i {
  font-size: 1.4rem;
}

/* End Header Rules  */